body, html{
  font-family: 'Inter', sans-serif;
}

/* HEADER */
/* NAVBAR */
.navbar{
  margin-bottom: 0;
}

.navbar-brand img{
  height: 40px;
}

.navbar-brand{
  padding: 5px 15px;
}

.navbar-default{
  background-color: #fff;
  border: 0;
  padding: 25px;
}

.navbar-default .navbar-nav>li>a{
  color: #000;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #0169FB;
  height: 4px;
  width: 30px;
}

.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 6px;
}

.navbar-toggle{
  border: 0;
}

/* JUMBOTRON */
.jumbotron{
  margin-top: 108px;
}

.jumbotron.bg-animated {
  background: url("../img/bg-fish.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.text-white{
  color: #fff;
}

.jumbotron .introduction h1{
  font-weight: 800;
}

.jumbotron .introduction p{
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.jumbotron .introduction .card-form p{
  color: #000;
}

.jumbotron .card-form{
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.jumbotron input, .jumbotron form a{
  display: block;
  margin: 7px auto;
  width: 94%;
}

.jumbotron input{
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}

::placeholder{
  font-weight: 500;
}

.card-form h2{
  font-size: 2.4em;
  font-weight: 700;
}

.card-form p.link{
  font-size: 0.9em;
  font-weight: 600;
  color:
}

#terms-of-service a{
  text-decoration: underline;
  color: #0169FB;
}
/* RIGA LOGHI */
section.sezione-loghi{
  background-color: #f3f5f9;
  padding-top: 35px;
  padding-bottom: 25px;
}

.row.loghi h4{
  color: #6f7b97;
  font-size: 1.3em;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a.link-caret{
  font-weight: 700;
  color: #0169FB;
}

a.link-caret:after{
  content: ' \02C3';
  vertical-align: middle;
  padding-left: 9px;
}

.row.loghi ul{
  margin-top: 40px;
  font-size: 0;
}

.row.loghi ul li{
  list-style: none;
  display: inline-block;
  width: 50%;
}

.row.loghi ul li img{
  height: 80px;
  margin: 0 15px;
}

/* MAIN */
/* SECTION DEPLOY */
main section{
  padding-top: 65px;
  padding-bottom: 50px;
}

main h2{
  font-weight: 800;
}

main p, main li{
  color: #6f7b97;
  font-weight: 600;
}

main p{
  font-weight: 600;
  font-size: 1.4em;
}

main h3{
  font-weight: 800;
  font-size: 1.4em;
}

section.deploy ul{
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
}

section.deploy li{
  font-size: 1.4em;
  list-style: none;
  border-left: 2px solid #d2d2d2;
  padding: 5px 10px;
}

section.deploy li a{
  text-decoration: none;
  color: #6f7b97;
}

section.deploy a:hover{
  color: #000;
}

section.deploy li:hover{
  border-color: #0169FB;
}

/* SECONDA SECTION */

.bg-page{
  margin: 0 auto;
  height: 196px;
  width: 300px;
  background: url("../img/page.jpg");
  background-size: cover;
  position: relative;
}

.caret-left, .caret-right{
  display: none;
  position: absolute;
}

.caret-left{
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}

.caret-right{
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}

.slogan{
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  color: #000;
  font-size: 1em;
}

section.designed-for .circle{
  height: 11px;
  width: 11px;
  border: 1px solid #0169FB;
  border-radius: 50%;
  display: inline-block;
}

section.designed-for .circles{
  margin-top: 70px;
}

section.designed-for .circle.full{
  background-color: #0169FB;
}

/* BUTTON */
.button{
  background-color: blue;
  padding: 7px 0;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
}

.btn-light-blue{
  color: #fff;
  background-color: #579aff;
}

.btn-white{
  color: #626262;
  background-color: #fff;
}

/* UTILITIES */
.text-blue{
  color: #0169FB;
}

.bg-grey{
  background-color: #eee;
}
/* UTILITIES PER MARGIN E PADDING */

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

/* MEDIA QUERY DIMENSIONI TABLET */
@media all and (min-width: 768px) {
/* PER COLLASSARE LE NAV E MOSTRARE HAMBURGER MENU */
    .navbar-toggle{
      display: block;
    }

  .navbar-header{
      float: none;
    }

  .navbar-collapse.collapse{
    display: none!important;
  }

  /* JUMBOTRON */
  .jumbotron .card-form{
    padding-top: 20px;
    padding-bottom: 24px;
  }

  .jumbotron h1{
    font-size: 2.3em;
  }

  .jumbotron p{
    font-size: 1.5em;
  }

  /* LOGHI */
  .row.loghi ul li{
    width: calc(100% / 6 - 15px);
    margin

  }

  .row.loghi ul li img{
    height: 45px;
    margin: 0 15px;
  }

  /* SECTION DEPLOY */
  section.deploy ul{
    padding-left: 70px;
  }

  .row.menu-services, .row.services{
    margin-top: 30px;
  }

  /* SECONDA SECTION */
  section.designed-for .caret-left, .caret-right{
    display: inline-block;
}
  section.designed-for .bg-page{
    height: 287px;
    width: 440px;
  }

/* MEDIA QUERY DIMENSIONI DESKTOP */
@media all and (min-width: 1200px) {

  .navbar-default{
    padding: 18px;
  }

  .navbar-nav{
    display: block;
  }

  .navbar-toggle{
    display: none;
  }

  .navbar-default .navbar-nav>li>a{
    font-size: 1.3em;
  }

  .navbar-brand{
    padding: 4px 15px;
  }

  .navbar-brand img{
    height: 35px;
  }

  .navbar-nav{
    margin-left: 65px;
  }
/* PER MOSTRARE LE NAV APERTE */
  .navbar-toggle{
    display: none;
  }

  .navbar-header{
    float: left;
  }

  .navbar-collapse.collapse{
    display: block!important;
  }

  /* JUMBOTRON */
  .jumbotron{
    margin-top: 86px;
  }

  .jumbotron h1{
    font-size: 3.5em;
  }

  .jumbotron p{
    font-size: 1.5em;
  }

  .jumbotron .card-form{
    padding-top: 16px;
    padding-bottom: 12px;
  }

  .card-form h2{
    font-size: 1.2em;
    font-weight: 700;
  }

  .card-form p#terms-of-service{
    font-size: 0.9em;
    font-weight: 600;
  }

 /* SECONDA SECTION */
 section.designed-for .bg-page{
   height: 359px;
   width: 551px;
 }
}
